In [1]:
%load_ext google.cloud.bigquery
from google.cloud import bigquery

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'learnings-333510-56d52b8c9b57.json'

In [4]:
%%bigquery 
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query complete after 0.02s: 100%|██████████| 2/2 [00:00<00:00, 1852.61query/s]
Downloading: 100%|██████████| 20/20 [00:02<00:00,  9.51rows/s]

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,30050,99999,1930,1,29,42.299999,4,35.000000,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
1,30750,99999,1930,10,14,55.000000,4,52.599998,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
2,39800,99999,1931,4,28,47.200001,4,40.200001,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
3,726810,24131,1931,3,29,38.000000,24,27.299999,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
4,726810,24131,1931,10,23,49.799999,24,39.400002,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
5,726810,24131,1931,7,13,82.099998,24,44.700001,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
6,726810,24131,1931,5,31,76.900002,24,34.599998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
7,726810,24131,1931,12,27,47.599998,24,26.000000,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
8,726810,24131,1931,7,12,73.500000,24,39.200001,6.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
9,726810,24131,1931,4,11,59.500000,24,28.900000,7.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
10,726810,24131,1932,7,21,74.500000,24,44.599998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
11,726810,24131,1932,9,27,61.299999,24,42.599998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
12,726815,24106,1932,2,6,30.200001,24,NaN,NaN,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
13,33960,99999,1933,11,11,43.500000,4,41.799999,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
14,370310,99999,1933,3,3,12.000000,4,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
15,370310,99999,1933,8,19,66.699997,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
16,286610,99999,1933,9,28,35.500000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
17,292630,99999,1933,5,7,48.000000,4,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
18,370310,99999,1933,5,5,58.799999,4,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
19,349290,99999,1933,6,8,59.799999,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information form over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 12 years ago. So if today is 2021.02.15 then the weather we want to forecast is for the date 2009.02.16. You are suppsed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to used BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is, to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck at the first part, you can use the replacement data provided in the second part

In [9]:
%%bigquery 
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 1209.08query/s]
Downloading:   0%|          | 0/20 [00:00<?, ?rows/s]

KeyboardInterrupt:

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2009 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [4]:
bqclient = bigquery.Client()

In [6]:
#%%bigquery
'''SELECT *,cast(concat(year,'-',month,'-',day)as datetime)as Date 
FROM `bigquery-public-data.samples.gsod` where (year between 2005 and 2009) 
and (station_number between 725300 and 726300) order by Date  '''

"SELECT *,cast(concat(year,'-',month,'-',day)as datetime)as Date \nFROM `bigquery-public-data.samples.gsod` where (year between 2005 and 2009) \nand (station_number between 725300 and 726300) order by Date  "

In [5]:

query_string= """SELECT *,cast(concat(year,'-',month,'-',day)as datetime)as Date 
FROM `bigquery-public-data.samples.gsod` where (year between 2005 and 2009) 
and (station_number between 725300 and 726300) order by Date"""

dataframe = (
    bqclient.query(query_string).result().to_dataframe(
        create_bqstorage_client=True,
    )
)
print(dataframe.head())

   station_number  wban_number  year  month  day  mean_temp  \
0          725300        94846  2005      1    1  32.099998
1          725895        94236  2005      1    1  28.000000
2          725520        14935  2005      1    1  27.700001
3          726060        14764  2005      1    1  43.500000
4          726163        99999  2005      1    1  41.700001

   num_mean_temp_samples  mean_dew_point  num_mean_dew_point_samples  \
0                     24       21.200001                        24.0
1                     24       24.000000                        24.0
2                     24       18.700001                        24.0
3                     24       34.400002                        24.0
4                     24       31.299999                        24.0

   mean_sealevel_pressure  ...  min_temperature_explicit  total_precipitation  \
0             1027.800049  ...                      None                 0.00
1             1006.400024  ...                      None                 0.04
2             1020.099976  ...                      None                 0.01
3             1019.200012  ...                      None                 0.01
4             1022.400024  ...                      None                 0.08

   snow_depth    fog   rain   snow   hail  thunder  tornado       Date
0         NaN  False  False  False  False    False    False 2005-01-01
1         2.0  False  False  False  False    False    False 2005-01-01
2         NaN   True   True   True   True     True     True 2005-01-01
3         NaN  False  False  False  False    False    False 2005-01-01
4         NaN  False  False  False  False    False    False 2005-01-01

[5 rows x 32 columns]

In [6]:
dataframe['year'].max()

2009

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
dataframe

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,num_mean_station_pressure_samples,mean_visibility,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,max_temperature_explicit,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,Date
0,725300,94846,2005,1,1,32.099998,24,21.200001,24.0,1027.800049,24.0,NaN,NaN,9.9,24.0,8.7,24.0,14.0,22.9,24.799999,True,NaN,None,0.00,NaN,False,False,False,False,False,False,2005-01-01
1,725895,94236,2005,1,1,28.000000,24,24.000000,24.0,1006.400024,20.0,NaN,NaN,8.0,24.0,9.1,24.0,16.9,NaN,15.100000,False,NaN,None,0.04,2.0,False,False,False,False,False,False,2005-01-01
2,725520,14935,2005,1,1,27.700001,24,18.700001,24.0,1020.099976,21.0,NaN,NaN,8.1,24.0,11.3,24.0,16.9,18.1,21.900000,False,NaN,None,0.01,NaN,True,True,True,True,True,True,2005-01-01
3,726060,14764,2005,1,1,43.500000,24,34.400002,24.0,1019.200012,24.0,NaN,NaN,9.6,24.0,10.7,24.0,15.9,22.9,35.599998,True,NaN,None,0.01,NaN,False,False,False,False,False,False,2005-01-01
4,726163,99999,2005,1,1,41.700001,24,31.299999,24.0,1022.400024,24.0,NaN,NaN,8.0,24.0,8.0,24.0,16.9,28.9,37.400002,True,NaN,None,0.08,NaN,False,False,False,False,False,False,2005-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377779,725845,23225,2009,12,31,33.500000,24,24.799999,24.0,1026.500000,23.0,NaN,NaN,10.0,24.0,3.1,24.0,6.0,NaN,28.900000,False,NaN,None,0.44,NaN,False,False,False,False,False,False,2009-12-31
377780,725626,24091,2009,12,31,26.500000,24,16.900000,24.0,1022.099976,24.0,NaN,NaN,10.0,24.0,4.6,24.0,11.1,NaN,15.800000,True,NaN,None,0.00,NaN,False,False,False,False,False,False,2009-12-31
377781,725456,4921,2009,12,31,28.600000,24,22.900000,24.0,NaN,NaN,NaN,NaN,5.8,24.0,6.8,24.0,14.0,19.0,17.600000,True,NaN,None,NaN,NaN,False,False,False,False,False,False,2009-12-31
377782,725453,14930,2009,12,31,12.800000,24,7.900000,24.0,NaN,NaN,NaN,NaN,7.9,24.0,8.4,24.0,16.9,21.0,3.200000,True,NaN,None,NaN,NaN,False,False,False,False,False,False,2009-12-31
377783,725462,14937,2009,12,31,20.500000,24,15.100000,24.0,1021.400024,16.0,NaN,NaN,6.4,24.0,10.5,24.0,15.9,22.0,10.000000,False,NaN,None,0.06,NaN,False,False,False,False,False,False,2009-12-31

### 2. Task 
From here want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2009.

In [9]:
dataframe.isnull().sum()

station_number                             0
wban_number                                0
year                                       0
month                                      0
day                                        0
mean_temp                                  0
num_mean_temp_samples                      0
mean_dew_point                           158
num_mean_dew_point_samples               158
mean_sealevel_pressure                145847
num_mean_sealevel_pressure_samples    145847
mean_station_pressure                 369069
num_mean_station_pressure_samples     369069
mean_visibility                         9679
num_mean_visibility_samples             9679
mean_wind_speed                          360
num_mean_wind_speed_samples              360
max_sustained_wind_speed                1092
max_gust_wind_speed                   130899
max_temperature                           98
max_temperature_explicit                  98
min_temperature                       377784
min_temperature_explicit              377784
total_precipitation                    45344
snow_depth                            371089
fog                                        0
rain                                       0
snow                                       0
hail                                       0
thunder                                    0
tornado                                    0
Date                                       0
dtype: int64

In [10]:
dataframe['Date'] = pd.to_datetime(dataframe['Date'])
dataframe['month_year'] = pd.to_datetime(dataframe['Date']).dt.to_period('M')

Removing columns giving redundant information

In [11]:
dataframe = dataframe.drop(['wban_number','num_mean_station_pressure_samples','mean_station_pressure','min_temperature' ,'year', 'month', 'day','min_temperature_explicit','max_temperature_explicit','num_mean_wind_speed_samples'
                          ,'num_mean_visibility_samples','num_mean_sealevel_pressure_samples','num_mean_dew_point_samples', 'num_mean_temp_samples'
                           ,'max_gust_wind_speed'], axis = 1)

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

In [12]:
dataframe = dataframe.dropna()

In [13]:
dataframe = dataframe.drop_duplicates()

In [14]:
dataframe['label'] = ((dataframe['fog'] == dataframe['rain']) & (dataframe['snow'] == dataframe['rain']) & (dataframe['snow'] == dataframe['hail'])
                      & (dataframe['thunder'] == dataframe['hail']) & (dataframe['thunder'] == dataframe['tornado']))

In [15]:
dataframe['label'].nunique()

1

In [16]:
#all categorical column has same values hence, I only keep snow.

In [19]:
dataframe = dataframe.drop(['fog','thunder','hail','tornado', 'rain','label'], axis = 1)

In [20]:
list_station = dataframe['station_number'].unique().tolist()
#list_station =list_station.tolist()
#list_station.to_numpy()

In [21]:
def matrix(df):
    a = df[["Date","month_year","station_number","snow_depth","snow"]]
    return a

In [22]:
df1 = matrix(dataframe)

In [23]:
df1

             Date month_year  station_number  snow_depth   snow
7      2005-01-01    2005-01          725895         2.0  False
54     2005-01-01    2005-01          725720         1.2   True
104    2005-01-01    2005-01          725975         7.9   True
148    2005-01-01    2005-01          725827        11.0  False
228    2005-01-02    2005-01          725827        11.8  False
...           ...        ...             ...         ...    ...
377727 2009-12-31    2009-12          725720         5.9  False
377736 2009-12-31    2009-12          726170         3.9  False
377743 2009-12-31    2009-12          725460         9.8  False
377753 2009-12-31    2009-12          725895         2.0  False
377777 2009-12-31    2009-12          725330         1.2  False

[4798 rows x 5 columns]

In [24]:
dataframe

,station_number,mean_temp,mean_dew_point,mean_sealevel_pressure,mean_visibility,mean_wind_speed,max_sustained_wind_speed,max_temperature,total_precipitation,snow_depth,snow,Date,month_year
7,725895,28.000000,24.000000,1006.400024,8.000000,9.1,16.9,15.100000,0.04,2.0,False,2005-01-01,2005-01
54,725720,35.900002,28.700001,1010.400024,7.900000,11.0,28.0,28.000000,0.09,1.2,True,2005-01-01,2005-01
104,725975,31.700001,28.299999,1004.900024,0.800000,8.9,12.0,30.200001,0.34,7.9,True,2005-01-01,2005-01
148,725827,18.000000,11.700000,1010.500000,18.000000,4.5,8.0,3.000000,0.02,11.0,False,2005-01-01,2005-01
228,725827,22.100000,17.299999,1014.799988,20.200001,1.7,6.0,15.800000,0.07,11.8,False,2005-01-02,2005-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
377727,725720,25.700001,21.900000,1029.199951,4.500000,5.0,13.0,21.000000,0.06,5.9,False,2009-12-31,2009-12
377736,726170,24.400000,16.299999,1021.700012,9.000000,7.1,13.0,12.200000,0.00,3.9,False,2009-12-31,2009-12
377743,725460,17.700001,10.100000,1021.299988,6.900000,10.2,16.9,6.800000,0.07,9.8,False,2009-12-31,2009-12
377753,725895,28.600000,24.900000,1023.299988,8.000000,3.8,13.0,17.600000,0.01,2.0,False,2009-12-31,2009-12
377777,725330,33.299999,30.600000,1015.700012,4.400000,8.1,15.0,30.000000,0.11,1.2,False,2009-12-31,2009-12

In [25]:
for station in list_station:
    dfa = df1.loc[df1['station_number']==station,:]
    dfb = matrix(dfa)
    dfb.to_csv('%s/%d_station_number.csv' %('/home/jyoti/Project/7learnings/code-challenges/datascience/stations/', station),index=False)

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for is the following, and hence should constitute your test set.

In [26]:
import datetime, timedelta

str(datetime.datetime.today()- datetime.timedelta(days=12*365)).split(' ')[0]

'2009-12-05'

In [27]:
df2 = pd.read_csv('/home/jyoti/Project/7learnings/code-challenges/datascience/stations/725300_station_number.csv')

In [28]:
df2=df2.drop(['station_number','month_year'], axis = 1)
df2['Date'] = pd.to_datetime(df2['Date'])
df2

          Date  snow_depth   snow
0   2005-01-05         3.9   True
1   2005-01-06         7.9   True
2   2005-01-07         7.9   True
3   2005-01-08         7.1   True
4   2005-01-09         5.9   True
..         ...         ...    ...
284 2009-12-27         3.1  False
285 2009-12-28         2.0  False
286 2009-12-29         2.0  False
287 2009-12-30         2.0  False
288 2009-12-31         2.0  False

[289 rows x 3 columns]

In [29]:
df2

          Date  snow_depth   snow
0   2005-01-05         3.9   True
1   2005-01-06         7.9   True
2   2005-01-07         7.9   True
3   2005-01-08         7.1   True
4   2005-01-09         5.9   True
..         ...         ...    ...
284 2009-12-27         3.1  False
285 2009-12-28         2.0  False
286 2009-12-29         2.0  False
287 2009-12-30         2.0  False
288 2009-12-31         2.0  False

[289 rows x 3 columns]

In [30]:
X= df2.loc[:, df2.columns != 'snow']
Y= df2['snow']

In [31]:
X

          Date  snow_depth
0   2005-01-05         3.9
1   2005-01-06         7.9
2   2005-01-07         7.9
3   2005-01-08         7.1
4   2005-01-09         5.9
..         ...         ...
284 2009-12-27         3.1
285 2009-12-28         2.0
286 2009-12-29         2.0
287 2009-12-30         2.0
288 2009-12-31         2.0

[289 rows x 2 columns]

In [32]:
X = X.resample('Q', on='Date').mean()

    There are gaps in the time series. The snow data is not present in the month of 5,6,7,8...only in 2 years data for month 5 is present.

Splitting data into train, test and valid as 3:1:1 ratio

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an Algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [33]:
import datetime, timedelta

str(datetime.datetime.today()- datetime.timedelta(days=12*365)).split(' ')[0]

'2009-12-05'

You are allowed to use any library you are comfortable with such as sklearn, tensorflow keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.

In [34]:

split_date_X = datetime.datetime(2008, 1, 1)

In [35]:
train_X = X.loc[X.index < split_date_X]
test_X = X.loc[X.index>=split_date_X]

In [36]:
train_X

            snow_depth
Date
2005-03-31    3.857895
2005-06-30         NaN
2005-09-30         NaN
2005-12-31    3.360870
2006-03-31    1.941667
2006-06-30         NaN
2006-09-30         NaN
2006-12-31    3.409091
2007-03-31    2.581395
2007-06-30    2.550000
2007-09-30         NaN
2007-12-31    2.365217

In [37]:
split_date_X = len(train_X)
train_Y = Y.loc[Y.index<split_date_X]
test_Y= Y.loc[Y.index>=split_date_X]

In [38]:
test_Y

12      True
13      True
14     False
15      True
16     False
       ...
284    False
285    False
286    False
287    False
288    False
Name: snow, Length: 277, dtype: bool